Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data organized and stored in a way that allows for efficient retrieval, updating, and management of data.

Differentiation between SQL (Relational) databases and NoSQL databases:

SQL (Relational) Databases:

1.Data Structure: SQL databases are based on the relational model, which means they store data in tables with rows and columns. The relationships between tables are defined using keys, such as primary keys and foreign keys.
2.Query Language: SQL databases use SQL (Structured Query Language) for querying and manipulating data. SQL is a powerful language for complex queries and transactions.
3.Scaling: SQL databases are typically vertically scalable, which means you can increase the server's processing power (CPU, RAM) to handle more load. Horizontal scaling (adding more servers) can be challenging.
4.Use Cases: SQL databases are well-suited for applications with structured data and complex relationships, such as financial systems, e-commerce platforms, and applications that require transactional consistency.

NoSQL Databases:

1.Data Structure: NoSQL databases can store data in various formats, including document-oriented, key-value, column-family, and graph formats. They are schema-less, meaning each document or record in a collection can have a different structure.
2.Query Language: NoSQL databases often use query languages specific to their data model. For example, document-oriented databases may use JSON-based queries.
3.Scaling: NoSQL databases are designed for horizontal scalability, which means you can add more servers to handle increasing data and traffic. They are well-suited for distributed and cloud-based architectures.
4.Use Cases: NoSQL databases are commonly used in web applications, IoT systems, real-time analytics, and scenarios where data volumes are large and rapidly changing.


In summary, the choice between SQL and NoSQL databases depends on the specific needs of your application. SQL databases are suitable for structured data with complex relationships, while NoSQL databases offer flexibility and scalability for applications with dynamic data requirements and high traffic loads.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL (Data Definition Language) is a subset of SQL (Structured Query Language) that is used for defining and managing the structure of a database. DDL statements are responsible for creating, altering, and deleting database objects, such as tables, indexes, and constraints. DDL statements do not deal with the data itself; they deal with the database's structure.

1.CREATE :
The CREATE statement is used to create new database objects, such as tables, indexes, and views.

2.DROP:
The DROP statement is used to remove existing database objects like tables, indexes, or views.

3.ALTER:
The ALTER statement is used to modify the structure of an existing database object, such as adding, modifying, or dropping columns.

4.TRUNCATE:
The TRUNCATE statement is used to remove all rows from a table while keeping the table structure intact. It is faster than the DELETE statement because it doesn't generate individual row delete statements.

#CREATE

CREATE TABLE employees (
    employee_id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    hire_date DATE
);


#DROP

DROP TABLE employees;


#ALTER

ALTER TABLE employees
ADD COLUMN email VARCHAR(100);

#TRUNCATE

TRUNCATE TABLE employees;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML (Data Manipulation Language) is a subset of SQL (Structured Query Language) used for manipulating data stored in a database. DML statements are responsible for performing operations like inserting, updating, and deleting data within database tables. Unlike DDL (Data Definition Language), which deals with the structure of the database, DML focuses on the data itself.

1.INSERT:
The INSERT statement is used to add new records (rows) to a database table.

EX:
INSERT INTO employees (employee_id, first_name, last_name, hire_date)
VALUES (1, 'John', 'Doe', '2023-09-15');

2.UPDATE:
The UPDATE statement is used to modify existing records in a database table.

EX:
UPDATE employees
SET first_name = 'Jane'
WHERE employee_id = 1;

3.DELETE:
The DELETE statement is used to remove records from a database table.

EX:
DELETE FROM employees
WHERE employee_id = 1;


DML statements are crucial for managing the data within a database. INSERT adds new data, UPDATE modifies existing data, and DELETE removes data as needed.

Q4. What is DQL? Explain SELECT with an example.

DQL (Data Query Language) is a subset of SQL (Structured Query Language) used for querying and retrieving data from a database. DQL statements are primarily focused on selecting and retrieving data from one or more tables in a database. The most commonly used DQL statement is the SELECT statement.

1.SELECT:
The SELECT statement is used to retrieve data from one or more tables in a database.

EX:
# to select all the columns
SELECT * FROM employees;

# to select specific columns
SELECT first_name, last_name FROM employees;

Q5. Explain Primary Key and Foreign Key.

Primary Key and Foreign Key are two essential concepts used to establish relationships between tables and enforce data integrity rules.

Primary Key:

1.A Primary Key is a column or a set of columns in a table that uniquely identifies each row (record) in that table.
2.Primary Key values must be unique and not null.
3.A table can have only one Primary Key, although it can be composed of multiple columns (composite or compound primary key).
4.Examples of Primary Key use include employee IDs, customer IDs, or product IDs.

EX:

CREATE TABLE employees (
    employee_id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    hire_date DATE
);

Foreign Key:

1.A Foreign Key is a column or a set of columns in a table that establishes a link between two tables by referencing the Primary Key of another (usually, a related) table.
2.It enforces referential integrity, ensuring that data in the referencing table corresponds to data in the referenced table.
3.A Foreign Key helps maintain data consistency and supports relationships between tables.
4.Examples of Foreign Key use include linking an "orders" table to a "customers" table using customer IDs.

EX:

CREATE TABLE orders (
    order_id INT PRIMARY KEY,
    customer_id INT,
    order_date DATE,
    -- Define a Foreign Key constraint
    FOREIGN KEY (customer_id) REFERENCES customers(customer_id)
);



In summary, Primary Keys uniquely identify rows in a table, while Foreign Keys establish relationships between tables by referencing Primary Keys from related tables, ensuring data integrity and consistency.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [3]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.1.0-cp310-cp310-manylinux_2_17_x86_64.whl (27.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 27.5/27.5 MB 46.2 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in /opt/conda/lib/python3.10/site-packages (from mysql-connector-python) (4.21.11)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.1.0
Note: you may need to restart the kernel to use updated packages.

In [4]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("select * from test1.test_table1")
for i in mycursor.fetchall():
    print(i)

cursor() Method:

1.The cursor acts as a pointer or a work area to execute SQL queries and fetch results.
2.It creates a cursor object, which is used to interact with the database.
3.The cursor() method is called on a database connection object (e.g., connection.cursor()).

execute() Method:

1.The execute() method is called on a cursor object (e.g., cursor.execute(sql_query)).
2.It is used to execute SQL queries or statements passed as a string argument.
3.After executing the query, the cursor can be used to fetch and manipulate the results.

Q7. Give the order of execution of SQL clauses in an SQL query.

In an SQL query, the order of execution of SQL clauses is typically as follows:



FROM: This clause specifies the table or tables from which the data will be retrieved. It's the first clause to be processed.

WHERE: The WHERE clause is used to filter rows from the tables specified in the FROM clause based on a specified condition. It's applied after the FROM clause to filter the result set.

GROUP BY: The GROUP BY clause is used to group rows from the result set into summary rows based on the values of one or more columns. It's applied after the WHERE clause.

HAVING: The HAVING clause is used to filter the grouped rows produced by the GROUP BY clause based on a condition. It operates after the GROUP BY clause.

SELECT: The SELECT clause specifies the columns that will be included in the final result set. It's applied after the previous clauses have filtered and grouped the data.

DISTINCT: If the DISTINCT keyword is used, duplicate rows are removed from the result set after the SELECT clause is applied.

ORDER BY: The ORDER BY clause is used to sort the rows in the result set based on one or more columns. It's applied after the previous clauses have generated the result set.

LIMIT/OFFSET: If pagination or limiting the number of rows is required, the LIMIT and OFFSET clauses are applied after the previous clauses have generated the sorted result set.

UNION/INTERSECT/EXCEPT: If set operations (UNION, INTERSECT, EXCEPT) are used, these operations are applied after all the previous clauses have generated their respective result sets.



It's important to note that not all clauses are required in every SQL query, and the order of execution may vary depending on the specific query and its requirements.